.mwtrpg-font_yugo {
    font-family: YuGothic, "Yu Gothic medium", "Hiragino Sans", Meiryo, "sans-serif";
}

.mwtrpg-font_yumin {
    font-family: "游明朝", "Yu Mincho", YuMincho, "Hiragino Mincho Pro", serif;
}

.mwtrpg-font_din {
    font-family: "din-2014";
}

.mwtrpg-font_notosans {
    font-family: 'Noto Sans JP', sans-serif;
}

.mwtrpg-font_imp {
    font-family: Impact, Charcoal;
}

.text-bold {
    font-weight: bold;
}