.mwHH {

    // まきばフォント使用
    // 全体の色合いはグラデーションの上が青空中が夕方下が夜空
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;

    &--gradient {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, #87ceeb, #ffd700, #000080);
        z-index: -1;
    }

    section {
        max-width: 128rem;
        margin: 5rem auto 0;

        &:first-of-type {
            margin-top: 0;
        }
    }

    &--ttl {
        text-align: center;

        h2 {
            font-size: 4rem;
            line-height: 1;
        }

        span {
            font-size: 1.8rem;
        }
    }

    &__Top {
        max-width: 100%;
        width: 100%;
        height: 70vh;
    }

    &__Story {
        &--text {
            display: block;
            width: 100%;

            p {
                text-align: center;
                font-size: 2rem;
            }
        }
    }

    &__Chara {
        &--wrapper {
            display: grid;
            width: 80%;
            margin: auto;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 1rem;

        }

        &--container {
            display: block;
            width: 100%;
            border: 1px solid #000;
        }
    }

    &__Episode {
        &--list {
            display: grid;
            grid-template-columns: repeat(2, auto);
            gap: 0 2rem;
            align-items: flex-start;
            max-width: 50rem;
            margin: auto;
            color: #fff;
        }

        &--container {
            padding: 0.25rem 0.25rem 0.38rem;
            background: rgba(0, 0, 0, .2);
            border-radius: 0.3rem;

            &:nth-of-type(2) {
                margin: 2.6rem 0 -1.94rem;
            }

            &:nth-of-type(4) {
                margin: 2.6rem 0 -3.2rem;
            }

            &:nth-of-type(5) {
                margin: 0.6rem 0 -3.2rem;
            }
        }

    }

    &__Last {
        &--wrapper {
            h4 {
                font-size: 2.6rem;
            }

            ul {
                display: block;
                position: relative;
                width: 100%;

                li {
                    position: absolute;

                    &.npc_01 {}

                    &.npc_02 {}

                    &.npc_03 {}

                    &.wing {}
                }
            }
        }
    }

    &__Book {
        &--container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 3rem;
        }

        &--image {
            width: 100%;

            img {
                width: 100%;
                object-fit: contain;
            }
        }

        &--note {
            background-color: gray;

            ul {
                display: flex;
                flex-direction: column;
                width: 100%;

                li {
                    span {
                        display: block;
                        width: 100%;
                        font-size: 1.8rem;
                    }

                    font-size: 2.6rem;
                }
            }
        }
    }
}